body{
	background-color:#fbfbfb;
}

.navbar{
	background-color:#444444;
}
.navbar-brand{
	color:#fff!important;
}
.navbar-nav a{
	color:#fff!important;
}

.navbar-nav > li.active > a{
	color:#444!important;
}

.navbar-header{
	float:right;
}

.tab-pane[data-value="Prediction"] .col-sm-8{
	margin:auto;
	float:none;
	text-align:center;
}

.tab-pane[data-value="Prediction"] .col-sm-8 > *{
	width:100%;
	float:left;
}

#string_input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  border-radius:0;
  width: 70%;
  margin:auto;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

.tab-pane[data-value="Algorithm"] .col-sm-8{
	margin:auto;
	float:none;
	text-align:center;
}

.tab-pane[data-value="Algorithm"] .col-sm-8 > *{
	width:85%;
	margin-left:auto;
	margin-right:auto;
}

.tab-pane[data-value="About"] .col-sm-8{
	margin:auto;
	float:none;
	text-align:center;
}

.tab-pane[data-value="About"] .col-sm-8 > *{
	width:85%;
	margin-left:auto;
	margin-right:auto;
}

#predButtons > div{
	display:inline-block;
}

#top_prediction{
	margin-top:15px;
}